Node-RED sensor flow.txt
[{"id":"a243456a.bd3138","type":"tab","label":"Flow 4"},{"id":"801f1069.c74b3","type":"ibmiot in","z":"a243456a.bd3138","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"Huawei","applicationId":"","deviceType":"Android","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":55,"y":61.00002861022949,"wires":[["fc910cdd.b77ed"]]},{"id":"fc910cdd.b77ed","type":"function","z":"a243456a.bd3138","name":"Collect data","func":"//Make input accel data global for all nodes\ncontext.global.accelx = msg.payload.d.AccelX;\ncontext.global.accely = msg.payload.d.AccelY;\ncontext.global.accelz = msg.payload.d.AccelZ;\n\nif (!context.global.tCounter) { \n    context.global.tCounter = 0; //time counter to check later on\n}\nif (!context.global.aCounter) { \n    context.global.aCounter = 0; //time counter for active pattern to check later on\n}\nif (!context.global.aAlert) { \n    context.global.aAlert = 0; //indicator of an occuring alert\n}\n\nif (!context.global.active) { \n    context.global.active = 0; //active\n}\n\nif (!context.global.last){\n    //sitting timer \n    context.global.last = new Date().getTime();\n}\nif (!context.global.checkDate) { \n    context.global.checkDate = 0; //active\n}\nif (!context.global.lastDay) { \n    context.global.lastDay = 0; //last active day\n}\nif (!context.global.pts) { \n    context.global.pts = 0; //initialize points check\n}\nif (!context.global.level) { //initialize level\n    context.global.level = 0; \n}\n\ncontext.global.first = new Date().getTime();\ncontext.global.day = new Date().getDay();\nif ((context.global.first - context.global.last)>5000){ //reset time counters if the app was stopped for more than 5 sec\n    context.global.checkDate ++;\n    context.global.tCounter = 0;\n    context.global.aCounter = 0;\n}\ncontext.global.tCounter ++;\ncontext.global.cTime = 60; //total time interval in sec to be used as reference later on\ncontext.global.cActive = 10; //active time interval in sec to be used as reference later on\n\ncontext.global.sensorData = msg.payload.d; //save for API/freeboard\n\n//msg.pts = context.global.pts;\n//msg.level = context.global.level;\nreturn msg;","outputs":1,"noerr":0,"x":196.10000228881836,"y":62.00002861022949,"wires":[["48596538.b3dc8c","22f19525.d1a08a"]]},{"id":"911e24fe.c46f38","type":"http in","z":"a243456a.bd3138","name":"","url":"/api/sensorData","method":"get","swaggerDoc":"","x":102,"y":447.0000247955322,"wires":[["12f00f3f.5415b1"]]},{"id":"c5e17d2d.357b","type":"http response","z":"a243456a.bd3138","name":"","x":452.0001106262207,"y":446.00006008148193,"wires":[]},{"id":"12f00f3f.5415b1","type":"function","z":"a243456a.bd3138","name":"return sensor data","func":"msg.payload = context.global.sensorData;\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":447.0000286102295,"wires":[["c5e17d2d.357b"]]},{"id":"8764ace9.510d6","type":"cloudant in","z":"a243456a.bd3138","name":"nexus7","cloudant":"","database":"users","service":"vcthesis-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":500.99999618530273,"y":61.00002479553223,"wires":[["785066b0.f9fa28"]]},{"id":"48596538.b3dc8c","type":"function","z":"a243456a.bd3138","name":"Search User","func":"msg.payload = \"nexus7\" //declare user to be found\nreturn msg;","outputs":1,"noerr":0,"x":352.99999237060547,"y":61.00002479553223,"wires":[["8764ace9.510d6"]]},{"id":"785066b0.f9fa28","type":"function","z":"a243456a.bd3138","name":"Extract user data","func":"//check if the day has changed to reset timers\nif ((context.global.day - context.global.lastDay)!==0){\n    msg.payload.totalTimeActive = 0;\n    msg.payload.totalTimeSitting = 0;\n    msg.payload.totalTimeWalking = 0;\n    msg.payload.totalTimeUndefined = 0;\n}\n\ncontext.global.tActive = msg.payload.totalTimeActive;\ncontext.global.tSit = msg.payload.totalTimeSitting;\ncontext.global.tWalk = msg.payload.totalTimeWalking;\ncontext.global.tUnd = msg.payload.totalTimeUndefined;\ncontext.global.rev = msg.payload._rev;\n\nmsg.payload.timeCounter = context.global.tCounter;\nmsg.payload.day = context.global.day;\nmsg.payload.activeTimeCounter = context.global.aCounter;\n\n\ncontext.global.nexusData = msg.payload; //save for API/freeboard\n\nreturn msg;","outputs":1,"noerr":0,"x":667.0000953674316,"y":61.00002479553223,"wires":[["d0100c37.8ba2c"]]},{"id":"4bbe9691.2cb568","type":"http in","z":"a243456a.bd3138","name":"","url":"/api/nexusSB","method":"get","swaggerDoc":"","x":104,"y":487.0000247955322,"wires":[["ae0c0ec0.0ec68"]]},{"id":"ae0c0ec0.0ec68","type":"function","z":"a243456a.bd3138","name":"return nexus behavior","func":"msg.payload = context.global.nexusData;\nreturn msg;","outputs":1,"noerr":0,"x":312.9000244140625,"y":488.00003814697265,"wires":[["fb0b2137.d6f5d"]]},{"id":"fb0b2137.d6f5d","type":"http response","z":"a243456a.bd3138","name":"","x":483.0000686645508,"y":488.00003814697265,"wires":[]},{"id":"d0100c37.8ba2c","type":"switch","z":"a243456a.bd3138","name":"Check time (30min)","property":"tCounter","propertyType":"global","rules":[{"t":"gte","v":"cTime","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":168.10000610351562,"y":110.00003242492676,"wires":[["c474fa4d.8eb2b8"],["ddebbf76.32d02"]]},{"id":"c474fa4d.8eb2b8","type":"function","z":"a243456a.bd3138","name":"SB detected","func":"context.global.tCounter = 0; //reset time counter\ncontext.global.aAlert = 1; //alert occured\ncontext.global.aCounter = 0; //reset active counter\n\ncontext.global.last = new Date().getTime();\n\n//message to push at the phone-watch\nmsg.payload = \"Wow...You've been sitting for too long! Time for a break!\";\nreturn msg;","outputs":1,"noerr":0,"x":365.00001525878906,"y":111.00002670288086,"wires":[["9a56b3db.32701"]]},{"id":"9a56b3db.32701","type":"ibmpush","z":"a243456a.bd3138","name":"Push Alert","ApplicationID":"","identifiers":"","notification":"android","mode":"SANDBOX","x":529.0000152587891,"y":110.00003242492676,"wires":[]},{"id":"ddebbf76.32d02","type":"function","z":"a243456a.bd3138","name":"Define activity thresholds","func":"if ((context.global.accelx < 10)&&(context.global.accelx>-4)&&(context.global.accely<8)&&(context.global.accely>-12)&&(context.global.accelz<12)&&(context.global.accelz>-11)){\n    context.global.activity = \"sitting\";\n}\nelse if ((context.global.accelx < 0)&&(context.global.accelx>-24)&&(context.global.accely<6)&&(context.global.accely>-10)&&(context.global.accelz<10)&&(context.global.accelz>-6)&&(context.global.accelx<context.global.accely)&&(context.global.accelx<context.global.accelz)){\n    context.global.activity = \"walking\";\n}\nelse {\n    context.global.activity = \"undefined\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":138.1000213623047,"y":152.0000286102295,"wires":[["4b0b718b.b5c25"]]},{"id":"4b0b718b.b5c25","type":"switch","z":"a243456a.bd3138","name":"Check activity","property":"activity","propertyType":"global","rules":[{"t":"eq","v":"sitting","vt":"str"},{"t":"eq","v":"walking","vt":"str"},{"t":"eq","v":"undefined","vt":"str"}],"checkall":"false","outputs":3,"x":342.1001319885254,"y":154.0000286102295,"wires":[["9161508a.9ecf5"],["2449d4b2.4cae8c"],["1de34371.2ac74d"]]},{"id":"9161508a.9ecf5","type":"function","z":"a243456a.bd3138","name":"Sitting","func":"//increase time counters\ncontext.global.tSit ++;\nmsg.payload.totalTimeSitting = context.global.tSit;\ncontext.global.active = 0;\n\ncontext.global.last = new Date().getTime();\n\nmsg.payload.totalPoints = msg.payload.totalPoints + context.global.points;\ncontext.global.points = 0;\nmsg.payload.level = msg.payload.level + context.global.level;\ncontext.global.level = 0; \nmsg.payload.pts = msg.payload.pts + context.global.pts;\ncontext.global.pts = 0;\n\n//msg.payload._rev = context.global.rev;\n//msg.payload._id = \"nexus7\";\ncontext.global.lastDay = new Date().getDay();\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":486.1001625061035,"y":148.0000286102295,"wires":[["731c729e.f700fc"]]},{"id":"2449d4b2.4cae8c","type":"function","z":"a243456a.bd3138","name":"Walking/Standing","func":"//increase time counters for being active and walking\ncontext.global.tActive ++;\nmsg.payload.totalTimeActive = context.global.tActive;\ncontext.global.tWalk ++;\nmsg.payload.totalTimeWalking = context.global.tWalk;\ncontext.global.aCounter ++;\nmsg.payload.activeTimeCounter = context.global.aCounter;\ncontext.global.active = 1;\n\nmsg.payload.totalPoints = msg.payload.totalPoints + context.global.points;\ncontext.global.points = 0;\nmsg.payload.level = msg.payload.level + context.global.level;\ncontext.global.level = 0; \nmsg.payload.pts = msg.payload.pts + context.global.pts;\ncontext.global.pts = 0;\n\ncontext.global.last = new Date().getTime();\n//msg.payload._rev = context.global.rev;\n//msg.payload._id = \"nexus7\";\n\ncontext.global.lastDay = new Date().getDay();\n\n\nmsg.points=context.global.points;\nreturn msg;","outputs":1,"noerr":0,"x":524.1001586914062,"y":184.0000295639038,"wires":[["3392fbc3.b8b5f4","731c729e.f700fc","752c5d7f.47a954"]]},{"id":"1de34371.2ac74d","type":"function","z":"a243456a.bd3138","name":"Undefined","func":"//increase time counters for undefined\ncontext.global.tUnd ++;\nmsg.payload.totalTimeUndefined = context.global.tUnd;\ncontext.global.active = 0;\n\ncontext.global.last = new Date().getTime();\n\n//msg.payload._rev = context.global.rev;\n//msg.payload._id = \"nexus7\";\n\ncontext.global.lastDay = new Date().getDay();\n\nmsg.payload.totalPoints = msg.payload.totalPoints + context.global.points;\ncontext.global.points = 0;\nmsg.payload.level = msg.payload.level + context.global.level;\ncontext.global.level = 0; \nmsg.payload.pts = msg.payload.pts + context.global.pts;\ncontext.global.pts = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":504.10010528564453,"y":220.00004482269287,"wires":[["731c729e.f700fc"]]},{"id":"731c729e.f700fc","type":"cloudant out","z":"a243456a.bd3138","name":"Update values","cloudant":"","database":"users","service":"vcthesis-cloudantNoSQLDB","payonly":true,"operation":"insert","x":769.0001602172851,"y":285.00007486343383,"wires":[]},{"id":"3392fbc3.b8b5f4","type":"switch","z":"a243456a.bd3138","name":"Check active time (5min)","property":"aCounter","propertyType":"global","rules":[{"t":"eq","v":"cActive","vt":"global"}],"checkall":"true","outputs":1,"x":740.1001205444336,"y":124.00004005432129,"wires":[["81a1c4e1.fd8358"]]},{"id":"81a1c4e1.fd8358","type":"switch","z":"a243456a.bd3138","name":"Check for previous alert","property":"aAlert","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","outputs":2,"x":745.1001205444336,"y":166.0000400543213,"wires":[["b62e7c8c.1d06e"],["4a444566.2a486c"]]},{"id":"b62e7c8c.1d06e","type":"function","z":"a243456a.bd3138","name":"No previous notice","func":"context.global.aCounter = 0; //reset active counter \ncontext.global.tCounter = 0; //reset time counter to start again from the beginning\ncontext.global.points = 5; //give points\n\n\n//check for upgraded level after 100 pts\nif (msg.payload.totalPoints >= msg.payload.pts){\n    context.global.level = 1;\n    //msg.payload.level = context.global.level; //pass the level to payload\n    //msg.payload.pts += 100;\n    context.global.pts = 100;\n    \n}\n//msg.payload.totalPoints = context.global.points; //pass the points to payload\n//msg.payload._rev = context.global.rev;\n//msg.payload._id = \"nexus7\";\n\nreturn msg;","outputs":1,"noerr":0,"x":525.1001663208008,"y":276.000057220459,"wires":[[]]},{"id":"4a444566.2a486c","type":"function","z":"a243456a.bd3138","name":"After alert msg","func":"context.global.aCounter = 0; //reset active counter \ncontext.global.tCounter = 0; //reset time counter to start again from the beginning\ncontext.global.points = 10; //give points\ncontext.global.aAlert = 0; //reset after alert notice\n\n//check for upgraded level after 100 pts\nif (msg.payload.totalPoints >= msg.payload.pts){\n    context.global.level = 1;\n    //msg.payload.level = context.global.level; //pass the level to payload\n    //msg.payload.pts += 100;\n    context.global.pts = 100;\n}\n//msg.payload.totalPoints = context.global.points; //pass the points to payload\n//msg.payload._rev = context.global.rev;\n//msg.payload._id = \"nexus7\";\n\nreturn msg;","outputs":1,"noerr":0,"x":517.1001663208008,"y":316.000057220459,"wires":[["6a34cea7.bf6ad"]]},{"id":"6a34cea7.bf6ad","type":"function","z":"a243456a.bd3138","name":"Prepare reward msg","func":"//prepare payload for push msg to the phone-watch\nmsg.payload = \"Well done! +10pts!\";\nreturn msg;","outputs":1,"noerr":0,"x":730.0001068115234,"y":333.0000538825989,"wires":[["f6e0ebe2.98b998"]]},{"id":"f6e0ebe2.98b998","type":"ibmpush","z":"a243456a.bd3138","name":"Push reward","ApplicationID":"","identifiers":"","notification":"android","mode":"SANDBOX","x":706.0001068115234,"y":379.0000557899475,"wires":[]},{"id":"28e0f01.690211","type":"cloudant out","z":"a243456a.bd3138","name":"Store sensor data","cloudant":"","database":"nexus7","service":"vcthesis-cloudantNoSQLDB","payonly":true,"operation":"insert","x":378.00000381469726,"y":20,"wires":[]},{"id":"d933e974.53b828","type":"http request","z":"a243456a.bd3138","name":"","method":"GET","ret":"txt","url":"https://docs.google.com/forms/d/e/1FAIpQLSfV8xvrrM84snoUXEmzb-rdPr6iFP3lb9HmjD36nnQ-SAP85g/formResponse?usp=pp_url&entry.1434563215={{payload.day}}&entry.1145702069={{payload.totalTimeActive}}&entry.2892913={{payload.totalTimeSitting}}","tls":"","x":860.5,"y":31.449981689453125,"wires":[[]]},{"id":"22f19525.d1a08a","type":"debug","z":"a243456a.bd3138","name":"","active":false,"console":"false","complete":"true","x":164.5,"y":225.29998779296875,"wires":[]},{"id":"752c5d7f.47a954","type":"debug","z":"a243456a.bd3138","name":"","active":false,"console":"false","complete":"true","x":811.5,"y":237.29998779296875,"wires":[]}]